ion-content{
    --padding-start: 2rerm;
    --padding-end: 2rem;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

    h1{
        font-size: 2rem;
        font-weight: 600;
        color: #515151;
        margin-top: 0;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

    .avatar{
        width: 35px;
        height: 35px;
        background-color: #6b45bc;
        border-radius: 50%;
        display:flex;
        align-items:flex-end;
        justify-content: center;
        overflow: hidden;
    

        ion-img{
            width: 90%;
            height: 90%;
        }
        }
    }
}

ion-searchbar{
    --box-shadow: none;
    --background: #e8e8e8;
    --border-radius: 1.2rem;
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.2;

    padding: 0;
    margin-bottom: 2rem;

    .searchbar-input-container{
        input{
            padding-top: 14px;
            padding-bottom: 12px;
            font-size: 18px;
        }

        .searchbar-search-icon{
            top: 15px;
            width:25px;
            height:25px;
        }
    }
}

img{
    width: 24px;
    height: 24px;
    margin-left: 1rem;
    margin-top: 17px;
  }