ion-content{
    
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-top: 1rem;
        background-color: #fffbc2;
    
        h1{
          font-size: 40px;
          font-weight: bold;
          color: #ab922d;
          margin-left: 0px;
          padding-bottom: 10px;
          font-family: late;
        }
    }

}

img{
    width: 24px;
    height: 24px;
    margin-left: 0rem;
    margin-top: 2rem;
    margin-right: 1rem;
  }
.back{
    width: 45px;
    height: 45px;
    margin-top: 1rem;
    margin-left: 1rem;
}
*{
    font-family: late;
    font-weight: bold;
}
  