<ion-header>
  <!-- Toolbar with primary color -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Back button -->
      <ion-button [routerLink]="['/tips']">
        Back
      </ion-button>
    </ion-buttons>
      <!-- Home button -->
      <a [routerLink]="['/home']">
        <img src="assets/icon/home-outline.svg" style="width: 24px; height: 24px;">
      </a>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <!-- Card to display food details -->
<ion-card>
  <ion-card-header>
    <!-- Food description -->
    <ion-card-title>{{ foodDetails.description }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- List to display food nutrients -->
    <ion-list>
      <!-- Loop through food nutrients -->
      <ion-item *ngFor="let nutrient of foodDetails.foodNutrients">
        <!-- Nutrient name and amount -->
        <ion-label>{{ nutrient.nutrient.name }}:</ion-label>
        <ion-text>{{ nutrient.amount }} {{ nutrient.nutrient.unitName }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<!-- Button to save food details -->
<ion-button id="click-trigger" class="saveButton" (click)="saveToStorage(foodDetails.description)">Save</ion-button>
<!-- Popover to confirm save action -->
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Saved To Collection!</ion-content>
  </ng-template>
</ion-popover>
<!-- Infinite scroll -->
<ion-infinite-scroll>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>