.saveButton {
    margin-top: 20px; /* Adjust margin as needed */
    margin-left: 10rem;
  }

  img{
    width: 24px;
    height: 24px;
    margin-left: 18rem;
  }

  *{
    font-family: late;
    font-weight: bold;
  }