
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; // This ensures the content takes up the full height of the screen
  padding-top: env(safe-area-inset-top); // This ensures proper padding at the top of the screen, considering the device notch, if any
  * {
    font-family: late;
  }
  .main-header {
    height: 45vh;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -60px;
  }

  ion-grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10vh);
    padding-bottom: 0;
    margin-top: 0;
    ion-row{
      margin-bottom: 0rem;
      ion-col{
        ion-label{
          ion-note{
            font-size: 1rem;
          }
          ion-chip{
            ion-label{
              font-size: 1.4rem;
              font-weight: bold;
              letter-spacing: 0.5px;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
            }
          }
          b{
            font-size: 1.2rem;
          }  
        }
        ion-button{
          height: 3e;
          transform: translateY(10%);
          text-transform: none;
          ion-text{
            font-size: 0.7rem;
            font-weight: bold;
          }
        }
      }
    }
    .list-header{
      font-weight: 700;
      color: #515151;
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
      margin-top:0rem;
    }
  }
}

.browser{
  margin: 0rem 3rem 1rem 4rem;
}
.salad{
  padding-top: 0;
  margin-top: 0;
 
}
.all-features {
  font-size: 55px; // Adjust the font size as needed
    font-family: 'Arial'; // Change the font family as needed
    font-weight: bold; // Make the text bold
    text-align: center;
    color:#515151;
  }

  .rainbow-text {
    font-size: 70px; // Adjust the font size as needed
    font-family: 'Abril Fatface', sans-serif; // Change the font family to Abril Fatface
    font-weight: bold; // Make the text bold
    text-align: center;
    background-image: linear-gradient(to right, #4caf50, #ffeb3b, #f44336); // Change the background gradient colors as needed
    color: #ffffff;
    margin:1rem 3rem 1rem 3rem;
  }
  .news {
    font-size: 45px; // Adjust the font size as needed
      font-family: 'Arial'; // Change the font family as needed
      font-weight: bold; // Make the text bold
      color:#515151;
      text-align: center;
    }