<ion-content color="light">
<!-- Header -->
<ion-header>
  <div class="header">
    <h1>Favourite</h1>
    <a id="hover-trigger" (click)="toggleReorder()" class="edit">
      <img src="assets/icon/create-outline.svg"/>
    </a>
    <ion-popover trigger="hover-trigger" triggerAction="hover">
      <ng-template>
        <ion-content class="ion-padding">Edit</ion-content>
      </ng-template>
    </ion-popover>
    <a [routerLink]="['/home']" class="home">
      <img src="assets/icon/home-outline.svg"/>
    </a>
  </div>
</ion-header>
<img alt="collection" src="assets/icon/collection.png"/>
<ion-list>
  <ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="reorderItems($any($event))">
    <ion-item *ngFor="let foodDetail of foodDetails; let i = index">
        <ion-label>{{i+1}} {{ foodDetail }}</ion-label>
        <ion-button [disabled]="isDisabled" slot="end" (click)="deleteItem(i)">
        <img src="assets/icon/trash-outline.svg" width="20px"/>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-list>
  </ion-content>
 

