
.home{
    width: 24px;
    height: 24px;
    padding-top: 2rem;
    margin-right: 2rem;
  }
  .edit{
    width: 24px;
    height: 24px;
    padding-top: 2rem;
    margin-left: 1rem;
  }

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-top: 1rem;
    background-color: #fffbc2;

    h1{
      font-size: 40px;
      font-weight: bold;
      color: #ab922d;
      margin-left: 60px;
      font-family: late;
    }
}

*{
  font-family: late;
}
